<a href="https://colab.research.google.com/github/adiknur007/ML/blob/main/%D0%A2%D0%A26_%D0%B0%D0%BF%D1%82%D0%B0_%D0%9D%D2%B1%D1%80%D1%82%D0%B0%D0%B5%D0%B2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
# 1-Тапсырма

import pandas as pd

temperatures = {
    "kala": ["Almaty", "Astana", "Shimkent"],
    "gradus": [5, -3, 7]

}
df = pd.DataFrame(temperatures)
print(df)
print(df.loc[0, "gradus"])
filtr = df[df["gradus"] > 0]
print(filtr)

       kala  gradus
0    Almaty       5
1    Astana      -3
2  Shimkent       7
5
       kala  gradus
0    Almaty       5
2  Shimkent       7

In [3]:
# 2-Тапсырма
import pandas as pd
dt = {
    "name": ["Aigerim", "Dias", "Miras", "Dana"],
    "age": [20, 22, 21, 19],
    "score": [88, 92, 75, 95]
}
df = pd.DataFrame(dt)
print(df)
jas = df[df["age"] > 20]
print(jas)
bagan = df[["name", "score"]]
print(bagan)
en_zhog_bal = df["score"].max()
print(en_zhog_bal)

      name  age  score
0  Aigerim   20     88
1     Dias   22     92
2    Miras   21     75
3     Dana   19     95
    name  age  score
1   Dias   22     92
2  Miras   21     75
      name  score
0  Aigerim     88
1     Dias     92
2    Miras     75
3     Dana     95
95

In [5]:
# 3-Тапсырма
a = df.iloc[2, 1]
print (a)
b = df.loc[df["name"] == "Dias"]
print (b)

21
   name  age  score
1  Dias   22     92

In [22]:
# 4-Тапсырма
dt = {
    "drug": ["A", "B", "C", "D"],
    "price": [1200, 800, 600, 2000],
    "amount": [5, 10, 3, 8]
}
df = pd.DataFrame(dt)
print(df)

a = df[df["price"]>1000]
print (a)

b = df[(df["price"] >= 600) & (df["price"] <= 800)]
print (b)

c = df[df["amount"]<5]
print (c)

  drug  price  amount
0    A   1200       5
1    B    800      10
2    C    600       3
3    D   2000       8
  drug  price  amount
0    A   1200       5
3    D   2000       8
  drug  price  amount
1    B    800      10
2    C    600       3
  drug  price  amount
2    C    600       3

In [30]:
dt = {
    "name": ["Ayan", "Dana", "Miras", "Aida"],
    "departament": ["IT", "HR", "IT", "HR"],
    "salary": [400000, 300000, 450000, 320000]
}
df = pd.DataFrame(dt)
print(df)

ortasha = df.groupby("departament")["salary"].mean()
print (ortasha)

sany = df.groupby("")["name"].count()
print(sany)

    name departament  salary
0   Ayan          IT  400000
1   Dana          HR  300000
2  Miras          IT  450000
3   Aida          HR  320000
departament
HR    310000.0
IT    425000.0
Name: salary, dtype: float64

KeyError: 'department'

In [32]:
dt = {
    "name": ["Ayan", "Dana", "Miras", "Aida"],
    "departament": ["IT", "HR", "IT", "HR"],
    "salary": [400000, 300000, 450000, 320000]
}
df = pd.DataFrame(dt)
print(df)

ortasha = df.groupby("departament")["salary"].mean()
print (ortasha)

sany = df.groupby("departament")["name"].count()
print(sany)

en_zhogary = ortasha.idxmax()
print(en_zhogary)

    name departament  salary
0   Ayan          IT  400000
1   Dana          HR  300000
2  Miras          IT  450000
3   Aida          HR  320000
departament
HR    310000.0
IT    425000.0
Name: salary, dtype: float64
departament
HR    2
IT    2
Name: name, dtype: int64
IT